.constructor {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    max-width: 325px;
    border-radius: 5px;
}

.gif-handler{
    display: flex;
    width: 100%;
    height: 100%;
    border: solid 2px #FFADAD;
    border-radius: 10px;
}

.gif-handler img {
    margin: auto;
}

.constructor-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    height: 100vh;
    width: 100%;
    margin: auto;
}