@font-face {
    font-family: 'Century Gothic';
    src: local('./fonts/centurygothic.ttf');
}

@font-face {
    font-family: 'Avenit Schoolbook';
    src: local('./fonts/Avenir Schoolbook.ttf');
}