.svg-btn {
    padding-top: 1px;
    font-size: 1.6rem;
    height: 32px;
    width: 32px;
    border: 1px solid black;
    border-radius: 5px;

    background-color: #FFADAD;
    transition: all 0.3s ease;
}

.svg-btn:hover {
    cursor: pointer;

    background-color: black;
    transition: all 0.3s ease;
}

.svg-btn:hover path {
    fill: white;
    transition: fill 0.3s ease;
}